.body{
    background: rgb(100,101,244);
    background: linear-gradient(180deg, rgba(100,101,244,1) 3%, rgba(188,100,244,1) 100%);
    height: 100vh;
}
.box{
   background: #f7f7f7;
}
.cards{
    text-align: center;
    background-color: green;
    width: 150px;
    height: 150px;
}